body{
	padding: 2em;
	background-color: #808000;
	background-image: url("images/2.jpg");
	background-repeat: repeat-y;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 12.3em;
	padding-bottom: 0;
	padding-top: 0;
	width: 990px;
	}
	
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
     
    }
#grayscale img
{
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
}
#grayscale img:hover
{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}
	
h1 {
    text-align: center;
    font-family: Apple-Chancery; 
    font-size: 3em;
	}

	
h2, h3, h4
	{
	font-weight: 700;
	}
h2	{
	font-size: 175%;
	padding: 6px 0;
	}
h3	{
	font-size: 150%;
	padding: 6px 0;
	}

p	{
	color: black;
	line-height: 1.5em;
	margin: 0 0 11px;
	padding: 0 0 5px;
	}

	
